  @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Courier+Prime&family=Inter:wght@100;200;700&display=swap');

* {
    /* outline: 1px solid limegreen; */
}

:root {
    --dark-navy: #020c1b;
    --navy: #0A192F;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}

@font-face {
    font-family: inter;
    src: url('../../assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    /* Add additional font formats if necessary */
  }
  

body {
    background-color: var(--dark-navy) !important;
    font-family: inter !important;
}

.nav-container {
    padding: 0 !important;
}

.nav-container-div {
    padding: 0 !important;
}

nav {
    padding-bottom: 0 !important;
    padding-top: 15px !important;
}

.navbar-brand {
    color: var(--green) !important;
}

.nav-item {
    border-bottom: 2px solid var(--green);
}

.nav-item-1,
.nav-item-2,
.nav-item-3 {
    margin-right: 10px;
}

.nav-item-2,
.nav-item-3,
.nav-item-4 {
    margin-left: 10px; 
}

@media screen and (max-width: 768px) {
    .nav-item-4,
    .nav-item-1 {
        margin: 0 10px 0 10px;
    }
}

.nav-item-1 a {
    color: var(--green);
    font-family: 'Courier Prime', monospace;
}

.nav-item-2 a,
.nav-item-3 a,
.nav-item-4 a {
    color: var(--light-slate) !important;
    font-family: 'Courier Prime', monospace;
}

.nav-item:hover .nav-link {
    color: var(--green) !important;
}

.nav-item a span {
    color: var(--green);
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        border-bottom: 2px solid var(--green);
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 768px) {
    .nav-flex-fill {
        border-bottom: 2px solid var(--green);
        height: 41.6px;
    }
}

.home {
    height: 85vh;
    padding-top: 15%;
    position: relative;
}

@media screen and (min-width: 768px) {
    .home {
        border-right: 2px solid var(--green);
    }

    .home-image,
    .home-1 ul {
        padding-left: 10%;
    }
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        justify-content: flex-end !important;
    }

    .home-image,
    .home-1 ul {
        padding-left: 20%;
    }
}

@media screen and (min-width: 1200px) {
    .home-image,
    .home-1 ul {
        padding-left: 25%;
    }
}

@media screen and (max-width: 768px) {
    .home-image,
    .home-icons-ul {
        display: inline-block !important;
    }
}

.home-intro-div,
.home-name-div,
.home-subtitle-div,
.home-bio-div {
    width: fit-content;
}

.home-intro-div h6 {
    color: var(--green);
    font-family: 'Courier Prime', monospace;
    /* border-right: 1px solid transparent; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
                typing 1.3s steps(13),
                cursor-alt 530ms step-end 3;
                
}

.home-name-div h1 {
    width: 100%;
    white-space: nowrap;
    /* border-right: 1px solid var(--lightest-slate); */
    overflow: hidden;
    visibility: hidden;
    animation: 
                typing 1.7s steps(12),
                cursor-alt-2 530ms step-end 3;
                animation-delay: 1.5s;
                
}

.home-subtitle-div h3 {
    width: 100%;
    white-space: nowrap;
    border-right: 1px solid var(--slate);
    overflow: hidden;
    visibility: hidden;
    animation: 
                typing 2.8s steps(26),
                cursor 530ms step-end infinite;
                animation-delay: 3s;
}

.visible {
    visibility: visible;
}

@keyframes cursor-alt {
    from, to { border-color: transparent; }
    50% { border-right: 1px solid var(--green); }
}

@keyframes cursor-alt-2 {
    from, to { border-color: transparent; }
    50% { border-right: 1px solid var(--lightest-slate); }
}

@keyframes cursor {
    from, to { border-color: var(--slate)  }
    50% { border-color: transparent }

}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.home-name-div h1 {
    color: var(--lightest-slate);
    font-size: 6vw;
    font-weight: 800;
}

.home-subtitle-div h3 {
    color: var(--slate);
    font-size: 3.33vw;
}

.home-2-bio {
    color: var(--slate);
}

.home-icons-ul {
    max-width: fit-content;
    padding-top: 20px;
}

.home-icons-ul .list-group-item {
    background-color: var(--dark-navy) !important;
    border: none;
    color: var(--slate);
    font-family: 'Courier Prime', monospace;
}

.home-icons-ul .list-group-item:hover > .home-icon-span {
    transform: translateY(25px); /* this effect needs fixing */
    color: var(--green);
}

.home-icons-ul .list-group-item svg {
    color: var(--green);
    height: 17px;
}

.email  {
    height: 15px;
    line-height: 10px;
    width: fit-content !important;
    position: absolute;
    right: 0 !important;
    bottom: 50%;
    padding: 0 5px 0 5px !important;
    transform: rotate(90deg);
    margin-right: -82px;
    background-color: var(--dark-navy);
}

@media screen and (max-width: 768px) {
    .email {
        visibility: hidden;
    }

    .arrow {
        visibility: hidden;
    }
}

.email a {
    font-family: 'Courier Prime', monospace;
    color: var(--lightest-slate);
    font-size: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}

.email a:hover {
    color: var(--green);
}

.arrow {
    height: 25px;
    width: 20px !important;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0 -13px 5px 0;
    transform: rotate(45deg);
    border-bottom: 2px solid var(--green);
    border-right: 2px solid var(--green);
}

.section-title {
    font-family: 'Courier Prime', monospace;
    color: var(--green);
    font-size: 2.5vw;
    font-weight: 700;
}

.section-title span {
    color: var(--lightest-slate);
}

.work-tabs button {
    font-family: 'Courier Prime', monospace;
    color: var(--light-slate);
    border-radius: 0 !important;
    border-left: 1px solid var(--light-slate);
}

.work-tabs button:hover {
    color: var(--green);
    background-color: var(--light-navy) !important;
    color: var(--green) !important;
}

.work-tabs .active {
    background-color: var(--light-navy) !important;
    color: var(--green) !important;
    border-left: 3px solid var(--green);
}

.tab-content .tab-pane {
    background-color: var(--light-navy);
    color: var(--light-slate);
}

/* about me */

.about-text {
    color: var(--slate);
}

/* footer */

.footer-icons a {
    background-color: var(--dark-navy);
    border: none;
    color: var(--lightest-slate);
}

.footer-icons a:hover {
    color: var(--green);
    transform: translateY(-5px);
}

.footer-icons a i {
    font-size: 22px;
}

.fil0 {
    fill: red !important;
  }

  #mail path {
    fill: red;
  }
  
  