* {
    outline: 1px solid limegreen;
}

@media screen  and (max-width: 768px) {
    .home {
        height: 95vh !important;
    }
}


@media screen  and (min-width: 768px) {
    .home-1,
    .home-2 {
        height: 95vh !important;
    }
}

@media screen and (max-width: 768px) {
    .home-image,
    .home-icons-ul {
        display: inline-block !important;
    }
}

